.blog-detail-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 48px;
  background: #fff;
}

.blog-meta {
  margin-bottom: 28px;
  color: #777;
  font-size: 16px;
}

.top-grid .blog-meta {
  margin-bottom: 16px;
}

.blog-content {
  line-height: 1.9;
  font-size: 17px;
}

.blog-content p {
  margin-bottom: 20px;
}

.blog-content h2 {
  margin-top: 48px;
  margin-bottom: 20px;
  font-size: 28px;
}

.blog-content ul {
  margin: 20px 0 28px;
  padding-left: 28px;
}

.blog-content pre {
  overflow-x: auto;
  margin: 28px 0;
  padding: 24px;
  border-radius: var(--radius-md);
  background: #f5f5f5;
  font-size: 15px;
  line-height: 1.7;
}

.blog-content code {
  font-family: monospace;
}

.blog-content #ez-toc-container {
  display: none;
}

@media (max-width: 600px) {
  .blog-detail-content {
    padding: 28px 20px;
  }

  .blog-content {
    font-size: 16px;
  }

  .blog-content h2 {
    font-size: 24px;
  }
}

.blog-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 64px;
  margin-bottom: 29px;
}

.blog-detail-title {
  max-width: 900px;
  font-size: 2.2rem ;
  line-height: 1.35;
  margin: 0 0 10px 0;
}

.blog-detail-header .btn-back {
  flex-shrink: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .blog-detail-header {
    display: block;
    margin-top: 0;
  }

  .blog-detail-title {
    font-size: 30px;
  }
}

.blog-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.blog-detail-header .btn-back {
    width: fit-content;
    padding: 12px 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .blog-detail-header .btn-back {
        width: auto;
        display: inline-flex;
    }
}

.blog-detail-header .mobile-only {
    display: none;
}

.blog-detail-header .desktop-only {
    display: inline-flex;
}

@media (max-width: 768px) {

    .blog-detail-header .mobile-only {
        display: inline-flex;
        margin-bottom: 24px;
    }

    .blog-detail-header .desktop-only {
        display: none;
    }

}

.wp-block-table {
    overflow-x: auto;
    display: block;
    width: 100%;
    margin-left: 0;
}

.wp-block-table table {
    min-width: 600px;
    border-collapse: collapse;
}

.blog-detail-content .wp-block-table th,
.blog-detail-content .wp-block-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

.blog-detail-content .wp-block-table th {
    background: #f5f5f5;
    font-weight: 700;
}

.blog-detail-content .wp-block-image {
  margin: 0;
}

.blog-content .wp-block-embed {
  max-width: 100%;
  margin: 0;
}

.blog-content .wp-block-embed iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}