{% extends "base.html" %}

{% block content %}

<div class="section-header">
  <h2 class="section-title">
    {{ work.title }} を編集
  </h2>
  <a
    href="/works-page"
    class="btn-back view-all-btn-pc"
  >
    制作物一覧へ戻る
  </a>  
</div>

<form
  action="/works-page/{{ work.id }}/edit"
  method="post"
  class="form-card"
>
  <div class="form-group">
    <label>タイトル</label>

    <input
      class="form-input"
      type="text"
      name="title"
      value="{{ work.started_at.strftime('%Y-%m-%d') if work.started_at else '' }}"
    >
  </div>

  <div class="form-group">
    <label>作成開始日</label>

    <input
      class="form-input"
      type="date"
      name="started_at"
      value="{{ work.started_at }}"
    >
  </div>

  <div class="form-group">
    <label>説明</label>

    <textarea
      class="form-textarea"
      name="description"
    >{{ work.description }}</textarea>
  </div>

  <div class="form-group">
    <label>GitHub URL</label>

    <input
      class="form-input"
      type="text"
      name="github_url"
      value="{{ work.github_url }}"
    >
  </div>

  <div class="form-group">
    <label>公開URL</label>

    <input
      class="form-input"
      type="text"
      name="app_url"
      value="{{ work.app_url }}"
    >
  </div>

  <div class="form-group">
    <label>技術（カンマ区切り）</label>

    <input
      class="form-input"
      type="text"
      name="tech_stack"
      value="{{ work.tech_stack }}"
    >
  </div>

  <div class="form-group">
    <label>画像URL</label>

    <input
      class="form-input"
      type="text"
      name="image_url"
      value="{{ work.image_url }}"
    >
  </div>

  <button
    type="submit"
    class="primary-button"
  >
    更新する
  </button>
</form>

<nav class="section-footer">
  <a
    href="/works-page/{{ work.id }}"
    class="btn-back view-all-btn-sp"
  >
    制作物詳細へ戻る
  </a>
</nav>

{% endblock %}