{% extends "base.html" %}

{% block content %}

<div class="section-header">
  <h2 class="section-title">
    新規制作物登録
  </h2>
</div>

<form
  action="/works-page"
  method="post"
  class="form-card"
>
  <div class="form-group">
    <label>タイトル</label>

    <input
      class="form-input"
      type="text"
      name="title"
    >
  </div>

  <div class="form-group">
    <label>説明</label>

    <textarea
      class="form-textarea"
      name="description"
    ></textarea>
  </div>

  <div class="form-group">
    <label>GitHub URL</label>

    <input
      class="form-input"
      type="text"
      name="github_url"
    >
  </div>

  <div class="form-group">
    <label>公開URL</label>

    <input
      class="form-input"
      type="text"
      name="demo_url"
    >
  </div>

  <div class="form-group">
    <label>技術（カンマ区切り）</label>

    <input
      class="form-input"
      type="text"
      name="tech_stack"
    >
  </div>

  <div class="form-group">
    <label>画像URL</label>

    <input
      class="form-input"
      type="text"
      name="image_url"
    >
  </div>

  <button
    class="primary-button"
    type="submit"
  >
    登録する
  </button>
</form>

<a
  href="/"
  class="btn-back"
>
  制作物一覧へ戻る
</a>

{% endblock %}